*{
    font-family: 'Courier New', Courier, monospace;
}

#board, .boardInfo{
    max-width: 40%;
}
#board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: #f35656;
    border: none;
    color: white;
}

#scoreboard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: #569af3;
}
.snakeSquare{
    background-color: #ebf356;
}
.foodSquare{
    background-color: #f35656;
}